<!DOCTYPE html>
{% load static %}
<html lang="ru" prefix="og: http://ogp.me/ns#">
    <head>
        <title>Hackathon</title>
        {% block additional_styles %}
        {% endblock %}

        {% block main_styles %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div id="info">
            {{ final_kassa.date }}
            {% for kassa in final_kassa %}
                Касса №:{{ kassa.kassa_no.kassa_no }}
                Человек: {{ kassa.kassa_no.persons }}
                Статус: {{ kassa.kassa_no.status }}
            {% endfor %}
        </div>
        {% csrf_token %}

        {% block main_scripts %}
            <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
            <script src="{% static 'js/app.js' %}"></script>
        {% endblock %}

        {% block additional_scripts %}
            <script type="text/javascript">
                // using jQuery
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            </script>
        {% endblock %}
    </body>
</html>