<!DOCTYPE html>
{% load static %}
<html lang="ru" prefix="og: http://ogp.me/ns#">
    <head>
        <title>Hackathon</title>
        {% block additional_styles %}
        {% endblock %}

        {% block main_styles %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock %}
    </head>
    <body>
        <div id="info">
            {% for item in data %}
            {{ item }}<br>
            {% endfor %}
            Человек на кассе: {{ person_counter }}
        </div>
        {% for notice in user.notice_set.all|dictsortreversed:"date"|dictsort:"is_readed"|slice:":5" %}
        <div>
            {{ notice.content }}
        </div>
        {% endfor %}
        {% block main_scripts %}
            <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
            <script src="{% static 'js/app.js' %}"></script>
        {% endblock %}

        {% block additional_scripts %}
        {% endblock %}
    </body>
</html>